<ng-container *ngIf="isHomePage(); else showOnlyRouterOutlet">
  <div class="w-full min-h-screen bg-orange-50 flex flex-col items-center justify-center px-6 py-10 relative overflow-hidden text-center">
    <img class="w-60 md:w-80 h-auto mb-12" src="assets/ai.png" alt="Appointment" />

    <button routerLink="/login"
      class="bg-yellow-600 hover:bg-yellow-700 text-white text-base md:text-lg font-semibold px-10 py-4 md:py-5 rounded-full transition duration-300 shadow-md hover:shadow-lg">
      BOOK AN APPOINTMENT
    </button>
  </div>
</ng-container>

<ng-template #showOnlyRouterOutlet>
  <router-outlet></router-outlet>
</ng-template>
